.sidebar-brand {color:white;}
.sidebar-brand:hover {text-decoration: none}

.error li,.error {color: red}

.jstree-default.jstree-focused {background-color: #191c24 !important}
.jstree-default a {color: lightgray !important;}
.jstree-default a:hover {background-color: #000000 !important;}
.jstree-default .jstree-clicked {background-color: #2a3038 !important;}
.form-check-primary .form-check-input {background-color: #0090e7 !important; opacity: 0 !important;}

.page-link {border:0px}
.page-link:hover {background-color: #00bb00;color:white}
a.arrowActive {color: #00bb00}
.actions a:hover {color: #00bb00}
.page-item.disabled a.page-link {background-color: #2a3038;boreder:0px}
.datagrid .actions a {display:block;background-color: #2a3038;border-radius: 50%;padding:10px;margin-right:10px}

.spinner {
	z-index: 1590;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -40%);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

div.loading {
    margin: 20px;
    width: 100px;
    height: 100px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.navbar-nav div.loading {width:50px;height:50px;margin:0px;margin-right:10px}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
