<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<title>{block #title|stripHtml|trim}Webapp Skeleton{/} | Webcerka</title>

	<meta name="author" content="webcerka.cz">

	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/libs/nittro/nittro.min.css" />
	<link rel="stylesheet" href="{$basePath}/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/vendors/css/vendor.bundle.base.css">

	<link rel="stylesheet" href="{$basePath}/assets/css/style.css">
	<link rel="stylesheet" href="{$basePath}/assets/customStyle.css">

	{block #head}{/}

	<!-- Initialise the _stack library -->
	<script type="application/javascript">window._stack = [];</script>
</head>
<body>

	<script type="application/javascript" src="{$basePath}/assets/libs/nittro/nittro.min.js" async defer></script>

	{block #main}
		<div class="container-scroller">
			<!-- partial:../../partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
					<a target="_blank" class="sidebar-brand brand-logo" href="#">WebApp</a>
					<a target="_blank" class="sidebar-brand brand-logo-mini" href="#">WwebApp</a>
				</div>
				<ul class="nav">
					<li class="nav-item profile">
						<div class="profile-desc">
							<div class="profile-pic">
								<div class="count-indicator">
									<img class="img-xs rounded-circle " src="" alt="">
									<span class="count bg-success"></span>
								</div>
								<div class="profile-name">
									<h5 class="mb-0 font-weight-normal">{$_user->getIdentity()->name ?: $_user->getIdentity()->email}</h5>
									<span>admin</span>
								</div>
							</div>
							<a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
							<div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
								<a href=":App:CRM:Main:User:Default:accountSettings" class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-settings text-primary"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1 text-small">{_'Account settings'}</p>
									</div>
								</a>
								<div class="dropdown-divider"></div>
								<a href=":App:CRM:Main:User:Default:changePassword" class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-onepassword  text-info"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject ellipsis mb-1 text-small">{_'Change Password'}</p>
									</div>
								</a>
							</div>
						</div>
					</li>
					<li class="nav-item nav-category">
						<span class="nav-link">{_'Navigation'}</span>
					</li>
					<li class="nav-item menu-items">
						<a class="nav-link" n:href=":Admin:Home:">
							  <span class="menu-icon">
								<i class="mdi mdi-speedometer"></i>
							  </span>
							<span class="menu-title">{_'Dashboard'}</span>
						</a>
					</li>

					{if $_user->isInRole('admin')}
						<li class="nav-item menu-items">
							<a class="nav-link" n:href=":Admin:Users:">
								  <span class="menu-icon">
									<i class="mdi mdi-security"></i>
								  </span>
								<span class="menu-title">{_'Users'}</span>
							</a>
						</li>
						<li class="nav-item menu-items">
							<a class="nav-link" href=":App:CRM:Main:Settings:Default:">
								  <span class="menu-icon">
									<i class="mdi mdi-settings"></i>
								  </span>
								<span class="menu-title">{_'Settings'}</span>
							</a>
						</li-->
					{/if}
				</ul>
			</nav>
			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:../../partials/_navbar.html -->
				<nav class="navbar p-0 fixed-top d-flex flex-row">
					<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
						<a class="navbar-brand brand-logo-mini" n:href=":Admin:Home:">Webapp</a>
					</div>
					<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
						<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
							<span class="mdi mdi-menu"></span>
						</button>
						<ul class="navbar-nav ml-3">
							<!--li class="nav-item">
								<a n:href=":App:CRM:Main:Utils:Default:deleteCache, cleanCache:1"  class="btn btn-danger ajax navbar-button">
									<i class="mdi mdi-delete-variant"></i> {_'Delete Cache'}
								</a>
							</li-->
						</ul>
						<ul class="navbar-nav navbar-nav-right">
							<li class="nav-item dropdown">
								<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
									<div class="navbar-profile">
										<img class="img-xs rounded-circle" src="" alt="">
										<p class="mb-0 d-none d-sm-block navbar-profile-name">username</p>
										<i class="mdi mdi-menu-down d-none d-sm-block"></i>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
									<h6 class="p-3 mb-0">{_'Profile'}</h6>
									<!--div class="dropdown-divider"></div>
								<a class="dropdown-item preview-item" n:href=":App:Admin:Main:User:Default:settings">
									<div class="preview-thumbnail">
										<div class="preview-icon bg-dark rounded-circle">
											<i class="mdi mdi-settings text-success"></i>
										</div>
									</div>
									<div class="preview-item-content">
										<p class="preview-subject mb-1">{_'Settings'}</p>
									</div>
								</a--->
									<div class="dropdown-divider"></div>
									<a class="dropdown-item preview-item" n:href=":Admin:Sign:out">
										<div class="preview-thumbnail">
											<div class="preview-icon bg-dark rounded-circle">
												<i class="mdi mdi-logout text-danger"></i>
											</div>
										</div>
										<div class="preview-item-content">
											<p class="preview-subject mb-1">{_'Log out'}</p>
										</div>
									</a>
								</div>
							</li>
						</ul>
						<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
							<span class="mdi mdi-format-line-spacing"></span>
						</button>
					</div>
				</nav>
				<!-- partial -->
				<div class="main-panel">
					<div class="content-wrapper">

						{snippet flashMessages}
						<div n:foreach="$flashes as $flash" n:class="flash, alert, 'alert-' . $flash->type">{$flash->message}</div>
						{/snippet}

							<div class="spinner mt-5" style="display: none">
								<div class="loading">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335" width="100" height="100">
										<path fill="#008DD2" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
										/>
									</svg>
								</div>
							</div>


							<div n:snippet="content" n:inner-block="#content" class="nittro-transition-auto nittro-transition-dim"></div>

					</div>
					<!-- content-wrapper ends -->
					<!-- partial:../../partials/_footer.html -->
					<footer class="footer">
						<div class="d-sm-flex justify-content-center justify-content-sm-between">
							<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright &copy; <a target="_blank" href="https://wwww.webcerka.cz">webčerka</a></span>
							<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
						</div>
					</footer>
					<!-- partial -->
				</div>
				<!-- main-panel ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>

		<script src="{$basePath}/assets/vendors/js/vendor.bundle.base.js"></script>
		<script src="{$basePath}/assets/js/off-canvas.js"></script>
		<script src="{$basePath}/assets/js/hoverable-collapse.js"></script>
		<script src="{$basePath}/assets/js/misc.js"></script>
		<script src="{$basePath}/assets/js/settings.js"></script>
		<script src="{$basePath}/assets/js/todolist.js"></script>

	{/block}

	{block #scripts}{/}

	<script>
		$(".form-check label,.form-radio label").append('<i class="input-helper"></i>');

		_context.invoke(function(di) {
			di.getService('ajax').on('request-created', function(event) {
				document.getElementsByClassName('spinner')[0].style.display = 'block';
			});

			di.getService('snippetManager').on('after-update', function(event) {
				document.getElementsByClassName('spinner')[0].style.display = 'none';
				$(".form-check label,.form-radio label").append('<i class="input-helper"></i>');
			});
		});

	</script>


</body>
</html>

