<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<!-- Seo -->
	<title>{block #title|stripHtml|trim}Webapp Skeleton{/} | Webcerka</title>

	<!-- Meta -->
	<meta name="description" n:ifset="#description" content="{include #description}">
	<meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="www.webcerka.cz">

	<link rel="stylesheet" type="text/css" href="{$basePath}/assets/libs/nittro/nittro.min.css" />
	<link rel="stylesheet" href="{$basePath}/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/vendors/css/vendor.bundle.base.css">

	<link rel="stylesheet" href="{$basePath}/assets/css/style.css">
	<link rel="stylesheet" href="{$basePath}/assets/customStyle.css">

	{block #head}{/}

	<!-- Initialise the _stack library -->
	<script type="application/javascript">window._stack = [];</script>
</head>
<body>

	<script type="application/javascript" src="{$basePath}/assets/libs/nittro/nittro.min.js" async defer></script>

	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="row w-100 m-0">
				<div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">

					<div class="card col-lg-4 mx-auto">
						<div class="card-body px-5 py-5">
							<div n:foreach="$flashes as $flash" n:class="flash, alert, alert-dismissible, fade, show, 'alert-' . $flash->type, mb-2">{$flash->message}</div>


								<div class="spinner" style="display: none">
									<div class="loading">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335" width="100" height="100">
											<path fill="#008DD2" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
											/>
										</svg>
									</div>
								</div>

							<div n:snippet="content" n:inner-block="#content" class="nittro-transition-auto nittro-transition-fade"></div>

						</div>
					</div>

				</div>
				<!-- content-wrapper ends -->
			</div>
			<!-- row ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>

<script src="{$basePath}/assets/vendors/js/vendor.bundle.base.js"></script>
	<script>
		$(".form-check label,.form-radio label").append('<i class="input-helper"></i>');


		_context.invoke(function(di) {
			di.getService('ajax').on('request-created', function(event) {
				document.getElementsByClassName('spinner')[0].style.display = 'block';
			});

			di.getService('snippetManager').on('after-update', function(event) {
				document.getElementsByClassName('spinner')[0].style.display = 'none';
			});
		});

	</script>
{block scripts}
{/}

</body>
</html>
